# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Sensitive files
key.key
database.db

# Temporary files
tempCodeRunnerFile.py

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Environment variables
.env