<!DOCTYPE html>
<html>
<body>

<h1>Vault Dashboard</h1>

<p>Welcome {{ session['username'] }}</p>

<a href="/add-password">
Add Password
</a>

<br><br>

{% for item in passwords %}
<a href="/generate-password">
Generate Password
</a>

<br><br>
<div>

    <strong>{{ item[1] }}</strong>

    <br>

    Username:
    {{ item[2] }}

</div>
{% for item in passwords %}

<div>

    <strong>{{ item[1] }}</strong>

    <br>

    Username:
    {{ item[2] }}

    <br><br>

    <a href="/view-password/{{ item[0] }}">
        View Password
    </a>

</div>

<hr>

{% endfor %}
<hr>

{% endfor %}

<a href="/logout">
Logout
</a>

</body>
</html>